[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"

[dev-packages]
autopep8 = "*"
python-lorem = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
